
.container-result-search{
    height: 90vh;
    
    padding-top: 20px;

    background: rgb(240, 238, 238);

    .container-title-results{
        text-transform: uppercase;
        
        margin-bottom: 40px;
    } 
    
}

.container-results{
    .container-row{
        text-align: center;

        .col-result{
            border-radius: 8px;

            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;

            height: 400px;
            width: 300px;

            display: table; // Pour fixer le footer en bas de card.

            .background-card{
                height: 200px;
                width: 100%;

                background: url(https://www.valdille-aubigne.fr/wp-content/uploads/2018/10/stade-athle.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                border-radius: 8px 8px 0px 0px; // Uniquement sur les borders-top
            
            }

            .title-card{
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .card-footer{
                display: table-row; // Fixer en bas de card
                height: 50px; // Hauteur du footer (obligatoire)

                .text-card-footer{
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

            }
        }
    }        

}

