.search-button{
    border: #FFC107;
    border-radius: 5px;
    background-color: #FFC107;

    color: #fff;

    margin: 20px;
    padding: 5px 10px;
}

.search-button:hover{
        background-color: rgb(238, 184, 22);
        font-weight: 600;
}